simplic_auth_image=simplic.azurecr.io/simplic-oxs-auth:latest
simplic_member_image=simplic.azurecr.io/simplic-oxs-member:latest
simplic_mail_image=simplic.azurecr.io/simplic-oxs-mail:latest
simplic_organization_image=simplic.azurecr.io/simplic-oxs-organization:latest
simplic_oxbase_image=simplic.azurecr.io/simplic-oxs-oxbase:latest
simplic_erp_image=simplic-oxs-erp:local

api_key_send_in_blue=xkeysib-.....